/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* Header styles */
header {
  background-color: #fff;
  color: #fff;
  padding: 20px;
  
}
nav{
  display : flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color : #3F2B96;
}

.logo img {
  width: 500px;
  height: 150px;
  margin-right: 10px;
  object-fit: contain;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #3F2B96;
  font-weight: 700;
  text-decoration: none;
}

/* Hero section styles */
.hero {
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff;
  max-width: 900px;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 20px;
  opacity: 90%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #333; */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border : 1px solid #3F2B96;
}

.btn:hover {
  background : linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}


/* About section styles */
.about {
  padding: 50px 0;
  background-color: #f1f1f1;
  text-align: center;
}

.about h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color : #3F2B96;
}

.about p {
  margin-bottom: 20px;
}

/* Features section styles */
.features {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.features h2 {
  font-size: 30px;
  color : #3F2B96;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.feature-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.feature-icon {
  /* width: 150px; */
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  margin-right: 20px;
  min-width: 400px;
}

.feature-icon>img{
  width: 100%;
}

.feature-text{
  flex: 1;
}

.feature-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-card p {
  margin-bottom: 10px;
}

.internships{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.internships>h2{
  font-size: 30px;
  color : #3F2B96;
}

/* Contact section styles */
.contact {
  padding: 50px 0;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #666;
}


